<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RotCrypt</title>
    <link rel="stylesheet" href="//www.w3schools.com/lib/w3.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="rc" ng-controller="rcCtrl">
    
    <div class="w3-modal" ng-hide="hasPass" style="display:block" >
        <div class="w3-modal-content w3-round-large w3-card-8">
            <div class="w3-card w3-container w3-xxlarge">
                <input class="w3-input" type="password" placeholder="Senha">
                <button class="w3-btn w3-large w3-indigo w3-hover-blue w3-round w3-margin-top" ng-click="closeModal()">Entrar</button>
                <p class="w3-large w3-text-red">{{passerror}}</p>
            </div>
        </div>
    </div>

    <div class="w3-container w3-padding-32">

        <input type="text" class="w3-input w3-large" placeholder="Chave" ng-model="chave">
        <input type="text" class="w3-input w3-large" placeholder="Mensagem" ng-model="msg">

        <button class="w3-btn w3-large w3-round w3-indigo w3-hover-blue" ng-click="crypt()">Criptografar</button>
        <button class="w3-btn w3-large w3-round w3-indigo w3-hover-blue" ng-click="uncrypt()">Desriptografar</button>

    </div>

    <script src="index.js"></script>

</body>
</html>
